$hero_color: rgb(239, 235, 224);
$bg_color: white;
$ft_color: rgb(107, 99, 99);
$header_color: #4b371c;
$paragraph_color: rgb(150, 150, 150);
$content_color: rgb(129, 131, 121);
$box_shadow: 0px 0px 33px -1px rgba(0, 0, 0, 0.7);
$breakpoint_phone: 450px;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');


@media (max-width: $breakpoint_phone) {}

/*******************Body and fonts*********************/

body {
    background-color: $bg_color;
    margin: 0px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: minmax(0, 150px) minmax(400px, auto) minmax(0, 150px);
    grid-template-rows: auto;
    font-family: "Roboto", sans-serif;
}

button {
    width: 100px;
    height: 30px;
    border-radius: 1rem;
    background-color: $bg_color;
    color: $header_color;
    font-size: 18px;
    border: 0px solid black;
    cursor: pointer;
    transition: all 400ms ease;
}

button:hover {
    background-color: $ft_color;
    color: $bg_color;
}

p {
    font-size: 18px;
}

h1 {
    font-size: 36px;
}

#root {
    background-color: $hero_color;
    grid-column: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: $box_shadow;
}

/*******************Navbar*********************/

.bar-name {
    text-align: center;
    color: $header_color;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px;
    min-width: 100%;
}

nav {
    div {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 18px;
    }

    img {
        width: 64px;
        height: 64px;
    }
}

.home-page-introduction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 4rem;
    margin-right: 4rem;
}

.home-page-pictures {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 12em;
}

.frame-left {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 700px;
    background-color: $content_color;
    color: $bg_color;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border: 1px solid $paragraph_color;
    border-radius: 2rem;
    box-shadow: $box_shadow;
}

.frame-right {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    max-width: 700px;
    background-color: $content_color;
    color: $bg_color;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border: 1px solid $paragraph_color;
    border-radius: 2rem;
    box-shadow: $box_shadow;
}

.text-holder {
    text-align: center;
    margin-left: 3rem;
    margin-right: 3rem;
}

footer {
    background-color: $ft_color;
    margin-top: auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;

    a {
        text-decoration: none;
        margin: 2rem;
        font-size: 24px;
        color: $bg_color;
    }
    
}

.mapouter {
    margin-top: 2rem;
}




/*******************Menu*********************/
table {
    padding: 5rem;
    margin-bottom: 2rem;
    box-shadow: $box_shadow;
    color: $bg_color;
    background-color: $content_color;
    border-radius: 1rem;

    tr {
        margin: 2rem;
    }

    th {
        font-size: 24px;
    }

    td {
        margin: 6rem;
        font-size: 18px;
    }
}

/*******************Contact*********************/

.contact-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    min-width: 400px;
    max-width: 600px;
    margin-bottom: 3rem;
    background-color: $content_color;
    color: $bg_color;
    border: 1px solid $paragraph_color;
    border-radius: 2rem;
    box-shadow: $box_shadow;
}